version: '3.8'

services:
  app:
    build: .
    volumes:
      - ./FRONTEND:/usr/src/app/FRONTEND
      - ./src/infrastructure/mail/templates:/usr/src/app/dist/infrastructure/mail/templates:ro
    ports:
      - "8080:8082"
    environment:
      - SMTP_HOST=smtp.ethereal.email
      - SMTP_PORT=587
      - SMTP_SECURE=false
      - MAIL_FROM=pedbook <no-reply@pedbook.local>
      - PUBLIC_WEB_URL=http://localhost:8080
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
      MYSQL_DATABASE: library1
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3310:3306"
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: 12345678
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db-data:
